<div class="author">
  <h1 class="author-heading">Hi! I'm Patrick</h1>
  <p class="author-body">Backend Developer</p>
</div>

<img
  src="/img/hero-image.webp"
  alt="Main image"
  class="hero-image"
  height="528"
  width="981"
/>

<section class="articles">
  <h2 class="articles-heading">Latest Posts</h2>

  <ul class="article-ul">
    <li>
      <a href="#">
        <span> Post Title</span>
        <span class="article-list-date"> Date </span>
      </a>
    </li>
  </ul>
  <a href="#" class="pagination"> &lt; View Older Posts </a>
</section>
